<html>
<head>
	<title>bootUP!</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Galindo" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
	<style type="text/css">
		html { 
		}
		

		.login_with_github {
			text-align: center;
		}

		.welcome_message {
			margin-left:auto;
      margin-right:auto;
      text-align: center;
      font-size: 40px;
			color: #CC0033;
			font-family: 'Galindo', cursive;

		}

		body {
			background: linear-gradient(270deg, #ec0a0a, #000000);
			background-size: 400% 400%;			
			-webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;
		}

		@-webkit-keyframes AnimationName {
		    0%{background-position:0% 50%}
		    50%{background-position:100% 50%}
		    100%{background-position:0% 50%}
		}
		@-moz-keyframes AnimationName {
		    0%{background-position:0% 50%}
		    50%{background-position:100% 50%}
		    100%{background-position:0% 50%}
		}
		@keyframes AnimationName { 
		    0%{background-position:0% 50%}
		    50%{background-position:100% 50%}
		    100%{background-position:0% 50%}
		}		
		.wrapper {
			display: flex;
	    height: 100vh;
	    justify-content: center;
	    align-items: center;
		}

		.welcome_message{
			background-image: url(/image/loginpagepic.jpeg);
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 3;
			padding: 20px;
			text-shadow: 3px 2px black;
			border-radius: 20px;
		}
		.btn {
			color: black;
		}
	</style>
</head>

	<body>
	<div class="wrapper">
		{{{ body }}}
	</div>	
	<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>