<html>
<head>
	<title>bootUP!</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>

	<body>
	<div id="secondHeader">
		<a class="navbar-brand" href="/">
        <img alt="BootUp" class="bootup-brand" src="/image/bootuplogo.png">
      </a>
		<nav class="navbar navbar-default pull-right clearfix" id="topNav">
		<div id="userinfo"></div>
		<button type="button" class="btn btn-default" id="logout">Logout</button>
		</nav>
		<h1 id="mainLogo">Bootup!</h1>
	
		<header id="header">
			{{#each categories}}
				<a href="/categories/{{this.url}}?title={{this.title}}">{{this.title}}</a>
			{{/each}}


			
		</header> 
		</div>
		<div>
			<button type="button" class="btn btn-default" id="submitPost">
		    			 	<a href="/new-post">Submit New Post <span class="sr-only">(current)</span></a>    
		    			 </button>
	
		</div>
		
	
		
	
        
        <div class="container">
		<div class="wrapper">
		<div class="content">
		{{{ body }}}
		<!-- Start Content -->
		<div class="particle-box"></div>
		<!-- End Content -->
			</div>
			</div>
			</div>
			


	 <footer id="footerFont">Copyright © 2016 Team <span id="footerBoot">bootUP!</span>
	 <br>
	 	<a href="https://github.com/NancyGormanLukas" target="_blank">
            <img src="/image/nancyImage.png" id="nancyGit"></a>
              <a href="https://github.com/IamTh3Walrus" target="_blank">
                  <img src="/image/stephenPic.jpg" id="stephenGit">
                    </a>
                    <a href="https://github.com/krn22rjs" target="_blank">
                  <img src="/image/Octocat.png" id="karinaGit">
                    </a>
                    

	 </footer>

	<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>