

<div class="row welcome_message img-rounded">
<div class="col-md-10 col-md-offset-1">
	<h1><strong>Welcome to BootUP!</strong></h1>
<h2>A User-Friendly Environment <br> for Coding Bootcamp Students</h2>
<div class="col-md-6 col-md-offset-3 text-center">
<br>
<button class="btn btn-login round" id="login"><i class="fa fa-github"></i> | Log In With GitHub</button>
</div>
</div>
</div>

