<h1>Submit to bootUP!</h1>
<form action="action_page.php">
<form method="POST" action="/new-post">
	<div>
		Title:<br> <input type="text" name="title" required minlength="10"/>
	</div>
	<div>
		Description:<br> <input type="text" name="description"/>
	</div>

	<div>
		Category:<br>
		<select name="category" required>
			<option value="">Please select a category</option>
			{{#each categories}}
				<option value="{{this.id}}">{{this.title}}</option>
			{{/each}}
		</select>
	</div>


	<div>
		Url:<br> <input type="text" name="url"/>
	</div>

	<div>
		Image Url:<br> <input type="text" name="image"/>
	</div>
	<button type="submit">Submit</button>
</form>
</form>
