#mainLogo {
    font-family:'Righteous', cursive;
    font-size: 100px;
    margin-left: 400px;
    text-align: center;
    text-shadow: 3px 3px #FFFF00;
}

.wrapper {
    min-height: 100%;
    position: relative;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFF32;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container-fluid{
	background-color: #FF0000;
}


.post {
	border: 1px solid #cecece;
	padding: 10px;
}
.img {
	width: 80px;
}
footer {
	height: 50px;
	width: 100%;
	padding: 10px;
	background-color: #cecece;
	text-align: center;
}
.voting {
	margin-bottom: 2px;
}
header {
	background-color: #000;
	color: #fff;
}
header a {
	color: #fff;
	margin: 0 10px;
}
header a:hover {
	color: #fff;
}
header a:focus {
	color: #fff;
}

#logout {
	display: none;
}


.github-logo {
	width: 40px;
	height: 40px;
}

.bootup-brand {
	height: 40px;
}



div.particle-box{width:200px;height:400px;position:absolute;bottom:0;left:50%;margin-left:-50px}
div.particle{width:30px;height:30px;opacity:1;position:absolute;bottom:0;display:none}
div.particle i{position:absolute;left:0;top:0;opacity:.3}
div.particle i.fa-heart-o{z-index:1;opacity:.8}
.colOne{color:#fce473}.colTwo{color:#f68b39}.colThree{color:#ed6c63}.colFour{color:#847bb9}.colFive{color:#97cd76}.colSix{color:#35b1d1}@keyframes flowOne{0%{opacity:0;bottom:0;left:14%}40%{opacity:.8}50%{opacity:1;left:0}60%{opacity:.2}80%{bottom:80%}100%{opacity:0;bottom:100%;left:18%}}@keyframes flowTwo{0%{opacity:0;bottom:0;left:0}40%{opacity:.8}50%{opacity:1;left:11%}60%{opacity:.2}80%{bottom:60%}100%{opacity:0;bottom:80%;left:0}}@keyframes flowThree{0%{opacity:0;bottom:0;left:0}40%{opacity:.8}50%{opacity:1;left:30%}60%{opacity:.2}80%{bottom:70%}100%{opacity:0;bottom:90%;left:0}}
